// alu_{{ width }}bit_{{ ops | join('_') }}.sv
{# Helper macros to check if operation types exist in ops list #}
{% set has_add = namespace(value=false) %}
{% set has_sub = namespace(value=false) %}
{% set has_lt = namespace(value=false) %}
{% set has_gt = namespace(value=false) %}
{% set has_le = namespace(value=false) %}
{% set has_ge = namespace(value=false) %}
{% for op in ops %}
  {% if op.op_type.name == 'ADD' %}{% set has_add.value = true %}{% endif %}
  {% if op.op_type.name == 'SUB' %}{% set has_sub.value = true %}{% endif %}
  {% if op.op_type.name == 'LT' %}{% set has_lt.value = true %}{% endif %}
  {% if op.op_type.name == 'GT' %}{% set has_gt.value = true %}{% endif %}
  {% if op.op_type.name == 'LE' %}{% set has_le.value = true %}{% endif %}
  {% if op.op_type.name == 'GE' %}{% set has_ge.value = true %}{% endif %}
{% endfor %}
module alu_add (
    input  logic [{{ width-1 }}:0] A,
    input  logic [{{ width-1 }}:0] B,
    input  logic [{{ op_width - 1 }}:0] opcode,
    input  logic en,
    output logic [{{ width-1 }}:0] result
);
    // Opcode constants
    {% for op in ops %}
    localparam [{{ op_width - 1 }}:0] OPCODE_{{ op.op_type.name }} = {{ op_width }}'b{{ op_code[op] }};
    {% endfor %}
    // Internal signals
    logic [{{ width-1 }}:0] result_internal;
    logic [{{ width-1 }}:0] _a, _b;
    {% if has_add.value or has_sub.value %}
    logic [{{ width-1 }}:0] add_sub_result;
    {% endif %}
    {% if has_sub.value %}
    logic [{{ width-1 }}:0] _b_mod;
    logic is_sub;
    logic carry_in;
    {% endif %}
    {% if has_lt.value or has_gt.value or has_le.value or has_ge.value %}
    logic [{{ width }}:0] sub_result_ext;
    logic sign_flag, overflow_flag, zero_flag;
    {% endif %}
    {% if has_lt.value %} logic lt_result; {% endif %}
    {% if has_gt.value %} logic gt_result; {% endif %}
    {% if has_le.value %} logic le_result; {% endif %}
    {% if has_ge.value %} logic ge_result; {% endif %}
    always_comb begin
        _a              = A;
        _b              = B;
        result_internal = {{ width }}'b0;
        {% if has_sub.value %}
        is_sub         = 1'b0;
        _b_mod         = {{ width }}'b0;
        carry_in       = 1'b0;
        {% endif %}
        {% if has_lt.value or has_gt.value or has_le.value or has_ge.value %}
        sub_result_ext  = {{ width+1 }}'b0;
        sign_flag       = 1'b0;
        overflow_flag   = 1'b0;
        zero_flag       = 1'b0;
        {% if has_lt.value %} lt_result = 1'b0; {% endif %}
        {% if has_gt.value %} gt_result = 1'b0; {% endif %}
        {% if has_le.value %} le_result = 1'b0; {% endif %}
        {% if has_ge.value %} ge_result = 1'b0; {% endif %}
        {% endif %}
        if (en) begin
            {% if has_sub.value %}
            is_sub = (opcode == OPCODE_SUB);
            _b_mod = is_sub ? ~_b : _b;
            carry_in = is_sub ? 1'b1 : 1'b0;
            add_sub_result = _a + _b_mod + { {{width-1}}'b0, carry_in };
            {% elif has_add.value %}
            add_sub_result = _a + _b;
            {% endif %}
            {% if has_lt.value or has_gt.value or has_le.value or has_ge.value %}
            sub_result_ext = {1'b0, _a} - {1'b0, _b};
            sign_flag = sub_result_ext[{{ width }}];
            overflow_flag = (_a[{{ width-1 }}] != _b[{{ width-1 }}]) && (sub_result_ext[{{ width-1 }}] != _a[{{ width-1 }}]);
            zero_flag = (sub_result_ext[{{ width-1 }}:0] == 0);
            {% if has_lt.value %} lt_result = (sign_flag ^ overflow_flag); {% endif %}
            {% if has_gt.value %} gt_result = !(sign_flag ^ overflow_flag || zero_flag); {% endif %}
            {% if has_le.value %} le_result = (sign_flag ^ overflow_flag) || zero_flag; {% endif %}
            {% if has_ge.value %} ge_result = !(sign_flag ^ overflow_flag); {% endif %}
            {% endif %}
            case (opcode)
                {% if has_add.value %}
                OPCODE_ADD: result_internal = add_sub_result;
                {% endif %}
                {% if has_sub.value %}
                OPCODE_SUB: result_internal = add_sub_result;
                {% endif %}
                {% if has_lt.value %}
                OPCODE_LT: result_internal = { {{ width - 1 }}'b0, lt_result };
                {% endif %}
                {% if has_gt.value %}
                OPCODE_GT: result_internal = { {{ width - 1 }}'b0, gt_result };
                {% endif %}
                {% if has_le.value %}
                OPCODE_LE: result_internal = { {{ width - 1 }}'b0, le_result };
                {% endif %}
                {% if has_ge.value %}
                OPCODE_GE: result_internal = { {{ width - 1 }}'b0, ge_result };
                {% endif %}
                default: result_internal = {{ width }}'b0;
            endcase
        end else begin
            result_internal = '0;
            {% if has_sub.value or has_add.value %}
            add_sub_result = {{ width }}'b0;
            {% endif %}
        end
    end
    assign result = result_internal;
endmodule