// alu_{{ width }}bit_{{ ops | join('_') }}.sv
module alu_add (
    input  logic [{{ width-1 }}:0] A,
    input  logic [{{ width-1 }}:0] B,
    input  logic [{{ op_width-1 }}:0] opcode,
    input  logic en,
    output logic [{{ width-1 }}:0] result
);

    // Localparam opcodes
    {% for op in ops %}
    localparam [{{ op_width - 1 }}:0] OPCODE_{{ op.upper() }} = {{ op_width }}'b{{ op_code[op] }};
    {% endfor %}

    // Internal computation signals
    logic [{{ width }}:0] extended_sub;
    logic sign_flag, overflow_flag, zero_flag;

    // Compute flags for comparison operations
    always_comb begin
        extended_sub = {1'b0, A} - {1'b0, B};
        sign_flag = extended_sub[{{ width }}];
        overflow_flag = (A[{{ width-1 }}] != B[{{ width-1 }}]) && (extended_sub[{{ width-1 }}] != A[{{ width-1 }}]);
        zero_flag = (extended_sub[{{ width-1 }}:0] == 0);
    end

    // Result logic
    always_comb begin
        result = {{ width }}'b0; // Default result
        if (en) begin
            case (opcode)
                {% if 'add' in ops %}
                OPCODE_ADD: result = A + B;
                {% endif %}
                {% if 'sub' in ops %}
                OPCODE_SUB: result = A - B;
                {% endif %}
                {% if 'lt' in ops %}
                OPCODE_LT:  result = (sign_flag ^ overflow_flag) ? { {{width}}{1'b1}} : { {{width}}{1'b0}};
                {% endif %}
                {% if 'gt' in ops %}
                OPCODE_GT:  result = !(sign_flag ^ overflow_flag || zero_flag) ? { {{width}}{1'b1}} : { {{width}}{1'b0}};
                {% endif %}
                {% if 'le' in ops %}
                OPCODE_LE:  result = ((sign_flag ^ overflow_flag) || zero_flag) ? { {{width}}{1'b1}} : { {{width}}{1'b0}};
                {% endif %}
                {% if 'ge' in ops %}
                OPCODE_GE:  result = !(sign_flag ^ overflow_flag) ? { {{width}}{1'b1}} : { {{width}}{1'b0}};
                {% endif %}
                default:    result = {{ width }}'b0;
            endcase
        end
    end

endmodule