// alu_template.sv.j2
module alu_{{ width }}bit (
    input  logic [{{ width-1 }}:0] A,
    input  logic [{{ width-1 }}:0] B,
    input  logic [2:0] opcode,
    output logic [{{ width-1 }}:0] result
);
    // Insert ALU logic here
endmodule