module mux_generic (
    input logic [{{ num_inputs }}] [{{ width }}-1:0] in,
    input logic [$clog2({{ num_inputs }})-1:0] sel,
    output logic [{{ width }}-1:0] out
);

always_comb begin
    case (sel)
    {% for i in range(num_inputs) %}
        {{ i }}: out = in[{{ i }}];
    {% endfor %}
        default: out = '0;
    endcase
end

endmodule
