// alu_{{ width }}bit_shift_{{ ops | join('_') }}.sv
module alu_{{ width }}bit_shift_{{ ops | join('_') }} (
    input  logic [{{ width-1 }}:0] A,
    input  logic [{{ width-1 }}:0] B, // B used for shift amount
    input  logic [{{ op_width-1 }}:0] opcode,
    output logic [{{ width-1 }}:0] result
);

    // Localparam opcodes
    {% if 'sll' in ops %}
    localparam [{{ op_width-1 }}:0] OPCODE_SLL = {{ op_code.sll }};
    {% endif %}
    {% if 'srl' in ops %}
    localparam [{{ op_width-1 }}:0] OPCODE_SRL = {{ op_code.srl }};
    {% endif %}
    {% if 'sar' in ops %}
    localparam [{{ op_width-1 }}:0] OPCODE_SAR = {{ op_code.sar }};
    {% endif %}
    {% if 'rotationleft' in ops %}
    localparam [{{ op_width-1 }}:0] OPCODE_ROT_LEFT = {{ op_code.rotationleft }};
    {% endif %}
    {% if 'rotationright' in ops %}
    localparam [{{ op_width-1 }}:0] OPCODE_ROT_RIGHT = {{ op_code.rotationright }};
    {% endif %}

    always_comb begin
        case (opcode)
            {% if 'sll' in ops %}
            OPCODE_SLL:        result = A << B;
            {% endif %}
            {% if 'srl' in ops %}
            OPCODE_SRL:        result = A >> B;
            {% endif %}
            {% if 'sar' in ops %}
            OPCODE_SAR:        result = $signed(A) >>> B;
            {% endif %}
            {% if 'rotationleft' in ops %}
            OPCODE_ROT_LEFT:   result = (A << B) | (A >> ({{ width }} - B));
            {% endif %}
            {% if 'rotationright' in ops %}
            OPCODE_ROT_RIGHT:  result = (A >> B) | (A << ({{ width }} - B));
            {% endif %}
            default:           result = 0;
        endcase
    end

endmodule