module {{ module_name }} (
  input logic [{{width}}-1:0]    A,
  input logic [{{width}}-1:0]    B,
  input logic [{{op_width}}-1:0] op,
  output logic [{{width}}-1:0]   out
);

  logic [{{width}}-1:0] temp [{{group_list|length}}-1:0];
  logic [{{ sel_width - 1 }}:0] sel;

  // Instantiate ALU groups
  {% for i, group in group_list|enumerate %}
  alu_{{group}} alu_{{group}}_inst_{{i}} (
    .A     (A),
    .B     (B),
    .op    (op),
    .result(temp[{{i}}])
  );
  {% endfor %}

  // Instantiate control module
  {{ module_name }}_control control_inst (
    .op_code (op),
    .select  (sel)
  );

  // Instantiate mux
  mux_generic mux_generic_inst (
    .in  (temp),
    .sel (sel),
    .out (out)
  );

endmodule
